@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Login */
section {
    position: relative;
    min-height: 100vh;
    background: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: 0.5s;
}
section.active {
    background: var(--second-color);
}

section .container {
    position: relative;
    width: 800px;
    height: 500px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
section .container .user {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

section .container.active .user .imgBx {
    background: #3fb8a9;
}

section .container.active .user .imgBx1 {
    background: #3fb8a9;
}

section .container .user .imgBx,
section .container .user .imgBx1 {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    background: #3fb8aaaf;
}


section .container .user .formBx {
    position: relative;
    width: 50%;
    height: 100%;
    background: #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    transition: 0.5s;
}
section .container .user .formBx h2 {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    color: #555;
}
section .container .user .formBx input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background: #f5f5f5;
    color: #333;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 18px;
    margin: 8px 0;
    letter-spacing: 1px;
    font-weight: 300;
}
section .container .user .formBx input[type="submit"] {
    max-width: 100px; 
    background: #677eff;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.5;


}
section .container .user.signupBx .formBx input[type="submit"] {
    background: #677eff;

}
section .container .user .formBx .signup {
    position: relative;
    margin-top: 20px;
    font-size: 12px;
    letter-spacing: 1px;
    color: #555;
    text-transform: uppercase;
    font-weight: 300;
}

section .container .user .formBx .signup a {
    font-weight: 600;
    text-decoration: none;
    color: #577eff;
}

section .container .signupBx {
    pointer-events: none;    
}
section .container.active .signupBx {
    pointer-events: initial;    
}
section .container .signupBx .formBx {
    top: 100%;   
}
section .container.active .signupBx .formBx {
    top: 0;   
}
section .container .signupBx .imgBx,
section .container .signupBx .imgBx1 {
    top: -100%;   
    transition: 0.5s;
}
section .container.active .signupBx .imgBx,
section .container.active .signupBx .imgBx1 {
    top: 0;
}
section .container .signinBx .formBx {
    top: 0;
}
section .container.active .signinBx .formBx {
    top: 100%;
}

section .container .signinBx .imgBx,
section .container .signinBx .imgBx1 {
    top: 0;
    transition: 0.5s;   
}
section .container.active .signinBx .imgBx,
section .container.active .signinBx .imgBx1 {
    top: -100%;
}

/* Logo do login */

section .container .user .imgBx img,
section .container .user .imgBx1 img {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;   
}

section .container .user .imgBx .boxImg,
section .container .user .imgBx1 .boxImg {
    width: 100%;
    height: 250px;
}

section .container .user .imgBx .boxImg img,
section .container .user .imgBx1 .boxImg img {
    position: relative;
    top: 100px;
    width: 250px;
    height: 100px;
    margin: 70px;
    border-radius: 5px;
    opacity: 50%;    
}

form h3 {
        font-size: 12px;
        color: red;
        margin-top: 20px;
}

.boxImg {

    filter: drop-shadow(-3px -3px 2px rgba(255, 255, 255, 0.6))
            drop-shadow(-3px -3px 2px rgba(0, 0, 0, 0.3))
            drop-shadow(-3px -3px 2px rgba(0, 0, 0, 0.6));
}

@media (max-width: 991px) {
    section .container {
        max-width: 400px;
    } 
    section .container .user .imgBx,
    section .container .user .imgBx1 {
        display: none;
    }
    section .container .user .formBx {
        width: 100%;
    }   
    section .container.active .signinBx .formBx {
        top: -100%;
    } 
}